<%= form_with(model: cluster, local: true) do |form| %>
  <% if cluster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cluster.errors.count, "error") %> prohibited this cluster from being saved:</h2>

      <ul>
      <% cluster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cluster_name %>
  </div>

  <div class="field">
    <%= form.label :classification_id %>
    <%= form.text_field :classification_id, id: :cluster_classification_id %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id, id: :cluster_parent_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
