<p id="notice"><%= notice %></p>

<h1>Cluster Documents</h1>

<table>
  <thead>
    <tr>
      <th>Cluster</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cluster_documents.each do |cluster_document| %>
      <tr>
        <td><%= cluster_document.cluster %></td>
        <td><%= cluster_document.document %></td>
        <td><%= link_to 'Show', cluster_document %></td>
        <td><%= link_to 'Edit', edit_cluster_document_path(cluster_document) %></td>
        <td><%= link_to 'Destroy', cluster_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cluster Document', new_cluster_document_path %>
