<p id="notice"><%= notice %></p>

<h1>Preprocessings</h1>

<table>
  <thead>
    <tr>
      <th>Corpus</th>
      <th>Algorithm</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preprocessings.each do |preprocessing| %>
      <tr>
        <td><%= preprocessing.corpus %></td>
        <td><%= preprocessing.algorithm %></td>
        <td><%= preprocessing.parent_id %></td>
        <td><%= link_to 'Show', preprocessing %></td>
        <td><%= link_to 'Edit', edit_preprocessing_path(preprocessing) %></td>
        <td><%= link_to 'Destroy', preprocessing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preprocessing', new_preprocessing_path %>
