<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classification.name %>
</p>

<p>
  <strong>Algorithm:</strong>
  <%= @classification.algorithm %>
</p>

<p>
  <strong>Preprocessing:</strong>
  <%= @classification.preprocessing %>
</p>
<%= link_to 'Add Parameters', new_valued_cla_parameter_path%> |
<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
