<%= form_with(model: parameter, local: true) do |form| %>
  <% if parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% parameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :parameter_name %>
  </div>

  <div class="field">
    <%= form.label :typeof %>
    <%= form.text_field :typeof, id: :parameter_typeof %>
  </div>

  <div class="field">
    <%= form.label :algorithm_id %>
    <%= form.text_field :algorithm_id, id: :parameter_algorithm_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
